{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.json", "*.md"],
            "options": {
                "tabWidth": 2,
                "singleQuote": true
            }
        }
    ]
}
